*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-size: 16px
  line-height: 1.5
  color: $primary-color

button
  padding: 0

  border: none
  background: none
  outline: none

  cursor: pointer

li
  list-style-type: none

a
  text-decoration: none
  color: $primary-color

  outline: none

input,
textarea,
select
  border: none
  background: none
  outline: none
