// ---------------- hamburger -----------------

.hamburger
  position: relative

  width: 30px
  height: 30px

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after
  position: absolute

  height: 4px

  background-color: $gray
  border-radius: 2px

.hamburger__inner
  top: 50%
  left: 50%

  width: 80%
  margin-left: -40%
  margin-top: -2px

  &::before,
  &::after
    content: ""

    width: 100%
    display: block

  &::before
    margin-top: -7px

  &::after
    margin-top: 7px

// --------------------------------------------

// --------------- close-button ---------------

.close-btn
  position: relative

  width: 30px
  height: 30px

  &::before,
  &::after
    content: ""
    position: absolute
    top: 50%
    left: 50%

    width: 100%
    height: 4px
    display: block
    margin-top: -2px
    margin-left: -50%

    background-color: $gray
    border-radius: 2px

  &::before
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)

// --------------------------------------------

.overlay
  position: fixed
  top: 0
  left: 0
  z-index: 5

  width: 100%
  height: 100vh

  background-color: rgba(0, 0, 0, 0.1)

.search-btn
  background-image: url("../img/icons/search.svg")

.outer-block
  padding: 0 10px

.hidden
  display: none

// ----------------- search -------------------

.search-input
  position: fixed
  top: 36px // header`s height
  left: 0
  z-index: 2

  width: 100%
  height: 30px
  padding-left: 10px
  padding-right: 34px

  font-size: 18px

  border-bottom: 1px solid $light-gray
  background-image: url("../img/icons/search.svg")
  background-repeat: no-repeat
  background-position: top 5px right 10px
  background-size: 20px

  transition: 0.3s all

  &:focus
    box-shadow: 1px 0 6px 0 $orange

.search-input--hidden
  top: 0

// --------------------------------------------