// ---------------- hamburger -----------------

.hamburger
  position: relative

  width: 30px
  height: 30px

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after
  position: absolute

  height: 4px

  background-color: $blue
  border-radius: 2px

.hamburger__inner
  top: 50%
  left: 50%

  width: 80%
  margin-left: -40%
  margin-top: -2px

  &::before,
  &::after
    content: ""

    width: 100%
    display: block

  &::before
    margin-top: -7px

  &::after
    margin-top: 7px

// --------------------------------------------

// --------------- close-button ---------------

.close-btn
  position: relative

  width: 30px
  height: 30px

  &::before,
  &::after
    content: ""
    position: absolute
    top: 50%
    left: 50%

    width: 100%
    height: 4px
    display: block
    margin-top: -2px
    margin-left: -50%

    background-color: $blue
    border-radius: 2px

  &::before
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)

// --------------------------------------------

// --------------- back-button ----------------

.back-btn
  position: relative

  width: 30px
  height: 30px

.back-btn__inner,
.back-btn__inner::before,
.back-btn__inner::after
  position: absolute

  height: 4px

  background-color: $blue
  border-radius: 2px

.back-btn__inner
  top: 50%
  left: 50%

  width: 80%
  margin-left: -40%
  margin-top: -2px

  &::before,
  &::after
    content: ""

    width: 50%
    display: block

  &::before
    top: 4px

    transform: rotate(45deg)

  &::after
    top: -4px

    transform: rotate(-45deg)

// --------------------------------------------

.overlay
  position: fixed
  top: 0
  left: 0
  z-index: 5

  width: 100%
  height: 100vh

  background-color: rgba(0, 0, 0, 0.1)

.search-btn
  background-image: url("../img/icons/search.svg")

.outer-block
  padding: 0 10px

.hidden
  display: none

.inner
  margin-top: 46px

.group-title
  color: $blue

.title
  color: $red

.empty--header-btn
  width: 32px
  height: 32px

.flex
  display: flex
  align-items: center

// ----------------- search -------------------

.search-input__wrap
  position: relative

.search-input__border
  position: absolute
  bottom: 0
  z-index: 2

  height: 2px
  width: 0
  background-color: $red

  transition: all 0.3s

.search-input
  position: fixed
  top: 36px // header`s height
  left: 0
  z-index: 2

  width: 100%
  height: 30px
  padding-left: 10px
  padding-right: 34px

  font-size: 18px

  border: none
  background-color: #fff
  background-image: url("../img/icons/search.svg")
  background-repeat: no-repeat
  background-position: top 5px right 10px
  background-size: 20px

  transition: 0.3s all

  &:focus
    box-shadow: 1px 0 6px 0 $light-blue

.search-input--hidden
  top: 0

.search-submit
  position: absolute
  right: 0
  top: 0
  z-index: 3

  width: 34px
  height: 30px

  background-image: url("../img/icons/search.svg")
  background-repeat: no-repeat
  background-position: top 5px right 10px
  background-size: 20px

.submit
  padding: 5px
  align-self: center
  min-width: 50%

  font-weight: bold

  border: 2px solid $dark-blue

  transition: all 0.1s

  &:hover
    color: $light-blue

    background-color: $dark-blue

.form
  margin-bottom: 20px

.form-block
  display: flex
  flex-direction: column
  max-width: 500px
  margin: 0 auto

.group-wrap
  max-width: 500px

// --------------------------------------------

// ----------------- fields -------------------

.row
  display: flex
  flex-direction: column
  margin-bottom: 5px

.value
  width: 100%

  & input,
  & textarea
    padding: 5px
    width: 100%

    &:hover
      box-shadow: 0 0 3px 3px $light-blue

    &:focus
      box-shadow: 0 0 5px 0 $blue
      border-color: $dark-blue

    &.error
      color: $red

      box-shadow: 0 0 5px 0 $red
      border-color: $red

.label
  width: 100%
  padding-right: 5px

  &::after
    content: ":"

  &.error
    color: $red

.row--nowrap
  flex-direction: row
  align-items: center

.value--nowrap
  width: 60%

.label--nowrap
  width: 40%

  text-align: right

// --------------------------------------------

.error-list
  display: flex
  flex-direction: column

.error-list__item
  display: none

  color: $red

@media (min-width: $desktop)
  .container
    width: $desktop
    margin: 0 auto

  .search-input
    position: relative
    top: 0

    padding-bottom: 1px

    border-bottom: 1px solid $dark-blue
    background: #fff

    &:focus
      box-shadow: none

      &+.search-input__border
        width: 100%
