.autocomplete
  display: none !important

input:focus+.autocomplete
  position: absolute
  z-index: 3

  max-height: 300px
  display: block !important

  border-left: 1px solid $dark-blue
  border-right: 1px solid $dark-blue
  border-bottom: 1px solid $dark-blue
  background-color: #fff

  overflow: auto

  & li
    padding: 5px

    border-bottom: 1px solid $dark-blue

    cursor: pointer

    &:last-child
      border-bottom: none

    &.active,
    &:hover
      background-color: $light-blue
