.content
  display: grid
  grid-template-columns: auto
  grid-gap: 20px
  justify-content: center

.content__item
  width: calc(100% - 20px)
  max-width: 300px
  margin: 0 auto

  border: 1px solid $light-gray

.content-link
  display: block

.content-link--preview
  height: 160px
  max-width: 278px

  background-color: #fff
  background-image: url("../img/no-photo.png")
  background-size: 100% 115%
  background-position: 0

.content__preview
  width: 100%
  height: 160px

.content__props
  display: flex
  align-items: center
  justify-content: space-between

.content__price
  font-weight: bold
  color: $red

  &::after
    content: $rub

.content__mileage
  &::after
    content: " км"

@media (min-width: $tablet)
  .content
    grid-template-columns: auto auto

  .content__item
    width: 100%

@media (min-width: $desktop)
  .content
    grid-template-columns: 280px 280px 280px
