header
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between

  background-color: #fff
  border-bottom: 1px solid #000

.logo
  width: 36px
  height: 36px

.search-btn
  width: 32px
  height: 32px