.login
  display: flex
  align-items: center
  flex-wrap: wrap

.login__user-name
  margin-right: 10px
  max-width: 150px

  font-weight: bold
  font-size: 20px
  word-wrap: break-word

.login__log-out
  width: 32px
  height: 24px

  background-image: url("../img/icons/log-out.svg")
  background-repeat: no-repeat

.login__log-in,
.login__sign-up
  font-size: 1rem
  font-weight: bold

  &:hover
    text-decoration: underline


